@font-face {
  font-family: "Oswald-regular";
  src: url("./media/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Oswald-light";
  src: url("./media/fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: "Oswald-bold";
  src: url("./media/fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: "Oswald-semibold";
  src: url("./media/fonts/Oswald-SemiBold.ttf");
}

.App {
  font-family: "Oswald-regular";
}

.App-link {
  color: navy;
}

.recordText {
  font-family: "Oswald-light";
  text-align: justify;
  text-justify: inter-word;
}

.recordDates {
  font-family: "Oswald-light";
  color: lightgray;
}
