@font-face {
  font-family: "Oswald-regular";
  src: url("./media/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Oswald-light";
  src: url("./media/fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: "Oswald-bold";
  src: url("./media/fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: "Oswald-semibold";
  src: url("./media/fonts/Oswald-SemiBold.ttf");
}

.App {
  font-family: "Oswald-regular";
}

.App-link {
  color: navy;
}

.recordText {
  font-family: "Oswald-light";
  text-align: justify;
  text-justify: inter-word;
}

.recordDates {
  font-family: "Oswald-light";
  color: lightslategrey;
}

.faicon {
  color: black;
}

.columnHolder {
  display: flex;
}

.columnBasics {
  flex: 1;
  padding: 5px;
}

.columnTexts {
  flex: 2;
  padding: 5px;
}

.progressBarHeight {
  height: 100%;
}

.progressBarFill {
  background-color: gray !important;
}

.progressBarLabel {
  padding-right: 5px;
}

@media (max-width: 768px) {
  .columnHolder {
    flex-direction: column;
  }
}
